services:
  kafka:
    image: apache/kafka:latest
    healthcheck:
      test: [ "CMD-SHELL", "/opt/kafka/bin/kafka-broker-api-versions.sh --bootstrap-server localhost:9092" ]
      interval: 10s
      timeout: 5s
      retries: 5
    container_name: kafka-logs
    ports:
      - "9092:9092"
    environment:
      # --- Configuration KRaft ---
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@localhost:9093
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CONTROLLER_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT

      # --- Listeners : La clé du problème ---
      # On définit deux listeners :
      # 1. INTERNAL (pour log-ingestor dans Docker)
      # 2. EXTERNAL (pour ton Backend/IDE sur ta machine)
      - KAFKA_LISTENERS=INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092,CONTROLLER://localhost:9093
      - KAFKA_ADVERTISED_LISTENERS=INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      - KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL

      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
    networks:
      - logging-network

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "9000:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:29092 # Utilise le listener interne
    depends_on:
      - kafka
    networks:
      - logging-network

  log-ingestor:
    build:
      context: .
      dockerfile: Dockerfile # Ton Dockerfile de prod propre
    container_name: log-ingestor
    ports:
      - "50051:50051"
    environment:
      # TRÈS IMPORTANT : Dans le réseau Docker, on utilise le port 29092
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - LOG_TOPIC=backend-logs
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - logging-network

networks:
  logging-network:
    name: logging-network # On force un nom fixe pour qu'il soit prévisible
    driver: bridge